<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="bootstrap-4.6.1-dist/js/bootstrap.bundle.min.js"></script>
    <script src="bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="header row p-2">
        <div class="col-sm-10 col-9 search d-flex justify-content-end">
            <form class="row form-inline my-2 my-lg-0 btn-group">
                <input class="col-8 form-control register" type="Register" placeholder="Register" aria-label="Register">
                <input class="col-8 form-control login" type="Register" placeholder="Login" aria-label="Login">
                <button class="col-4 btn btn-outline-success my-2 my-sm-0" type="submit">Register</button>
                <button class="col-4 btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
            </form>
        </div>
    </div>
    </div>
    <hr>
    <div class="container-fluid row chapter1" style="margin: 0 !important;">
        <div class="col-12 mt-3">
            <h3>List Rooms</h3>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mt-3 text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Room Double</h5>
                </div>
                <button class="view btn btn-outline-light">Submit</button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mt-3 text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Room VIP</h5>
                </div>
                <button class="view btn btn-outline-light">Submit</button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mt-3 text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Room Luxury</h5>
                </div>
                <button class="view btn btn-outline-light">Submit</button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mt-3 text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Room President</h5>
                </div>
                <button class="view btn btn-outline-light">Submit</button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-12 mt-3 text-center">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Room Single</h5>
                </div>
                <button class="view btn btn-outline-light">Submit</button>
            </div>
        </div>
    </div>

    <footer class="mt-3 foot">
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-12 info">
                    <hr class="light">
                    <h3>Golden Home</h3>
                    <hr class="light">
                    <p></p>
                    <p>goldenhome@gmail.com</p>
                    <p>320 Xuân Thủy</p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; Louis</h5>

                </div>
            </div>
        </div>
    </footer>
</div>

<div class="backtotop" id="backtotop">
    <i class="fa-solid fa-circle-arrow-up"></i>
</div>
<script src="js/jquery-3.5.1.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/js.js"></script>
<script src="https://kit.fontawesome.com/b17b2ea705.js" crossorigin="anonymous"></script>
</body>
</html>