<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House Renting</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body onload="logout()">
<div id="content" style="font-family: 'Bungee Inline', cursive;">
    <header>
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" onclick="showHome()"><i class="fa-solid fa-house-chimney-window fa-2x mx-2"></i>THIÊN ĐƯỜNG
                    NHÀ</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active" id="log">
                            <a class="nav-link" onclick="showRe_Log()"><i class="fa-solid fa-right-to-bracket"></i> ĐĂNG NHẬP</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" onclick="htmlPostHouse()"><i class="fa-solid fa-earth-asia"></i> ĐĂNG NHÀ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="htmlHouse()"><i class="fa-solid fa-house-flag"></i> ĐẶT NHÀ</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" onclick="numberNotification()"
                               data-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-arrow-pointer"></i> XEM THÊM
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                <a class="dropdown-item" onclick="findAllOder()">HÓA ĐƠN CỦA BẠN</a>
                                <hr>
                                <a class="dropdown-item" onclick="findByIdOwnerAndStatus()">NHÀ ĐANG ĐƯỢC THUÊ</a>
                                <hr>
                                <a class="dropdown-item" onclick="showNotifications()">THÔNG BÁO <span id="notificationNumber" style="color: #e74c67"></span></a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="showAllMyHome()"><i class="fa-solid fa-circle-question" ></i> THÔNG TIN NHÀ</a>
                        </li>
                        <li class="nav-item" id="user">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="container text-center" id="main">
        </div>
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog" id = "show_modal">
            </div>
        </div>
    </header>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    const firebaseConfig = {
        apiKey: "AIzaSyDhc1vAfJzLPMkGQNUcSZteOvp7tDoATbQ",
        authDomain: "comhut-6cb9a.firebaseapp.com",
        projectId: "comhut-6cb9a",
        storageBucket: "comhut-6cb9a.appspot.com",
        messagingSenderId: "767018612317",
        appId: "1:767018612317:web:bd93234817651cd290bfb4",
        measurementId: "G-XQN7351NDS"
    };
    firebase.initializeApp(firebaseConfig);
</script>
<script src="javascript/upload.js"></script>
<script src="javascript/home.js"></script>
<script src="javascript/re_log.js"></script>
<script src="javascript/house.js"></script>
<script src="javascript/order.js"></script>
<script src="javascript/post_house.js"></script>
<script src="javascript/my_house.js"></script>
</body>
</html>