<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>House Renting</title>
</head>
<body>
<div id="content">
</div>
<div id="editF"></div>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    const firebaseConfig = {
        apiKey: "AIzaSyDhc1vAfJzLPMkGQNUcSZteOvp7tDoATbQ",
        authDomain: "comhut-6cb9a.firebaseapp.com",
        projectId: "comhut-6cb9a",
        storageBucket: "comhut-6cb9a.appspot.com",
        messagingSenderId: "767018612317",
        appId: "1:767018612317:web:bd93234817651cd290bfb4",
        measurementId: "G-XQN7351NDS"
    };
    firebase.initializeApp(firebaseConfig);
</script>
<script src="javascript/upload.js"></script>
</body>
</html>